#order-detail footer
  position relative

  i
    position absolute
    font-size 8rem
    top -2rem
    left 10rem

  span
    position absolute
    font-size 1.5rem
    top 5.5rem
    left 10rem
    width 7rem
    text-align center