.product-editor
  position relative

  .uploader
    position absolute
    top 4rem
    right 1rem
    width 25%

    img
      width 100%

      ~ .btn
        height auto
        font-size 1em

    .btn
      display flex
      justify-content center
      align-items center
      font-size 2em
      height 10rem

    input[type=file]
      display none