.app-header.navbar .navbar-brand
  display inline-block
  width 155px
  height 55px
  padding 0.5rem 1rem
  font-size 1.15rem
  line-height 2
  text-align center
  margin-right 0
  background #fff
  border-bottom 1px solid #cfd8dc