.btn-group
  input[type=radio],
  input[type=checkbox]
    display none

  label:first-of-type
    border-radius .25rem 0 0 .25rem !important

  :checked + label
    color white
    background-color #1985ac
    border-color #187fa3